@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu);

 #flex-container{
      display:flex;
      justify-content: space-between;
    }
    #flex-content{
      flex-grow: 3;
      
    }
    & .flex-side{
        width:100px;
        min-height:100%;
        background-repeat: repeat;
        background-image: url("https://media.istockphoto.com/id/1340935700/es/vector/patr%C3%B3n-ex%C3%B3tico-sin-costuras-de-lujo-tropical-hojas-de-pl%C3%A1tano-de-colores-pastel-palma.jpg?s=612x612&w=0&k=20&c=VMBR7lsmCZIV1CdAD9CiGnFohEbSDUOEhifo5iTl5i4=");
    }
h1{
  background-color: #FCBBC5;
  color: #079C8F;
  padding: 16px 32px; 
  border-radius: 16px;
  margin-left: 100px;
  margin-right: 100px;
   font-family: 'Raleway';
      font-size: 45px;
      color: #194E52;
      text-align: center;
}
.p1{
      font-family:"Noto Sans";
  font-weight: bold;
      font-size: 22px;
      text-align: center;
       margin-left: 130px;
  margin-right: 130px;
      line-height: 1.6;
      text-indent: 1px; 
}
.p2{
      font-family:"Noto Sans";
      font-size: 22px;
      text-align: justify;
       margin-left: 130px;
  margin-right: 130px;
      line-height: 1.6;
      text-indent: 1px; 
    }
.p3{
      font-family:"Noto Sans";
      font-size: 24px;
      text-align: center;
       margin-left: 200px;
  margin-right: 200px;
      line-height: 1.6;
      font-weight: bold;
  background-color: #FEE7EA;
  color: #055B70;
  padding: 16px 32px; 
  border-radius: 16px;
  box-shadow: 8px 8px 5px #E8FCF8;
  margin-bottom: 100px;
}
.shadowbox {
  width: 98%;
  border: 3px dotted #B9D0CD;
  box-shadow: 8px 8px 5px #E8FCF8;
  padding: 5px 10px;
  background-image: linear-gradient(180deg, #E8FCF8, #ECF8F6 40%, #A3C2BE);
  color: #194E52;
  font-weight: bold;
  text-align: center;
  font-family:"Noto sans";
   font-size: 23px;
  margin-left: 0px;
  margin-right: 0px;
  }
.link{
  color: #194E52;
}

