@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
    @import url(https://fonts.googleapis.com/css?family=Bungee);
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu);

#container{
  display:flex;
  flex-direction: row;
  background-color: #fef6e4;
   box-shadow: 8px 8px 5px #FEE7EA;
}
#container > div{
  flex-basis: 50%;
  padding: 100px;
}
body {
    margin: 100px; 
}
h1{
  background-color: #FCBBC5;
  color: #079C8F;
  padding: 16px 32px; 
  border-radius: 16px;
  display: inline-block;
  margin: 0 auto;
   font-family: 'Raleway';
      font-size: 45px;
      align-text: center;
      color: #194E52;
      text-align: center;
}
p, li {
   font-family:"Noto sans";
   font-size: 23px;
   text-align: justify;
      line-height: 1.3;
  margin: 50px;
}
.shadowbox {
  width: 98%;
  border: 5px dotted #B9D0CD;
  box-shadow: 8px 8px 5px #E8FCF8;
  padding: 5px 10px;
  background-image: linear-gradient(180deg, #E8FCF8, #ECF8F6 80%, #A3C2BE);
  color: #194E52;
  font-weight: bold;
  & p {
  text-align: center;
  }
a {
  font-family:"Ubuntu";
  color: #1D8686;
  background-color: #E6FFFF;
  font-weight: bold;
  font-size: 15px;
  align-items: center;     
}